@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.Dettagli_casella{
    display: flex;
    flex-direction: column;
    height: 100%;
    .Descrizione{
        background-color: white;
        flex: 1;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 1em;
        margin: 20px 10% 50px;
        position: relative;
        h4{
            position: absolute;
            right: 0;
            margin-right: 20px;
            margin-top: 10px;
            font-family: 'Dancing Script', cursive;
        }
        p{
            padding: 20px;
            margin-top: 100px;
            font-family: "Nunito", sans-serif;
            font-size: 20px;
            white-space: pre-wrap; /* rispetta ritorni a capo e spazi multipli */
            word-wrap: break-word;
        }
    }
}