
.Titolo{
    display: flex;
    justify-content: space-between;
    margin: 0;
    >*{margin: auto;}
    >.esterno{
        width: 5%;
    }
}
h1,h2{
    color: #fff;
    text-shadow:
        1px 1px 10px #333,
        3px 3px 10px #222;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    padding: 20px;
}
h2{
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}
.back{
    all: unset;
    padding: 10px;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 01em;
    transition: all 0.2s ease;
    img{
        filter: invert(1);
        width: 30px;
    }
}
.back:hover{
    background-color: rgba(0, 0, 0, 0.2);
    scale: 1.02;
}

@media (max-width: 800px){
    .Titolo h1{
        font-size: 40px;
    }
    .Titolo h2{
        font-size: 30px;
    }
}